/**
 * Temporary hack for "more" menu via md-select
 */
header, .video-toolbar {

  .md-toolbar-tools {

    md-select {
      margin: 0px;
      font-size: inherit;
      display: inline-block;
      position: absolute;
      height: 36px;
      width: 36px;
      top: 0;
      right: 0;

      * {
        padding: 0px;
        margin: 0px;
        border: 0px none transparent;
      }

      .md-select-label {
        padding: 0px;
        min-width: 0px;
        line-height: normal;
        height: 0px;
        width: 0px;

        .md-select-icon {
          width: 0px;
          height: 0px;
          font-size: 0px;
          margin: 0px;
        }
      }
    }
  }
}
/*
header {
  .brand {
    position: relative;
    md-select {
      margin: 0px;
      font-size: inherit;
      display: inline-block;
      position: absolute;
      height: 36px;
      width: 96px;
      bottom: 0;
      left: 0;
      .md-select-label {
        padding: 0px;
        min-width: 0px;
        line-height: normal;
        height: 0px;
        width: 0px;

        .md-select-icon {
          width: 0px;
          height: 0px;
          font-size: 0px;
          margin: 0px;
        }
      }
    }
  }
}

.md-select-menu-container {

  top: -96px;
  bottom: 96px;
  right: 0px;

  md-select-menu {
    max-width: 25vw;

    md-option {
      width: inherit;
    }
  }

}
*/