iframe#kiwiirc {
    width: 100%;
    min-height: 50vh;
    margin: 0;
}
.responsive-container {

    .responsive-item {

        height: 0;
        overflow: hidden;
        position: relative;

    &.embed-21by9 { padding-bottom: 42.86%; }  
    &.embed-16by9 { padding-bottom: 56.25%; }  
    &.embed-4by3  { padding-bottom: 75.00%; }  
    &.embed-5by4  { padding-bottom: 80.00%; }  
        
        iframe, embed, object {

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

        }

    }
}