html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

main {

    background-color: #f0f0f0;

    section {

    background-color: #f0f0f0;

    }

}


md-tabs .md-tabs-content .md-tab-content {
    background-color:#f0f0f0;
    height: auto;
    min-height:256px;
    md-content {
        background-color: #ffffff;
    }
}

md-content.md-default-theme,
md-card.md-default-theme {
    background-color:#f0f0f0;
}