@mixin flex-properties-for-name($name: null) {
  $flexName: 'flex';
  @if $name != null {
    $flexName: 'flex-#{$name}';
  }

  md-sidenav,
  .md-sidenav-right,
  .md-sidenav-left {

    &.md-locked-open {

      [#{$flexName}] {
        box-sizing: border-box;
        flex: 1;
      }


      // (0-20) * 5 = 0-100%
      @for $i from 0 through 20 {
        [#{$flexName}="#{$i * 5}"] {
          flex: 0 0 #{$i * 5 + '%'};
          width:    #{$i * 5 + '%'};
          min-width:#{$i * 5 + '%'};
          max-width:#{$i * 5 + '%'};

        }
      }

      [#{$flexName}="33"], [#{$flexName}="34"] {
        flex: 0 0 33.33%;
        width:    33.33%;
        min-width:33.33%;
        max-width:33.33%;
      }
      [#{$flexName}="66"], [#{$flexName}="67"] {
        flex: 0 0 66.66%;
        width:    66.66%;
        min-width:66.66%;
        max-width:66.66%;
      }
    }
  }

}