<!DOCTYPE html>
<html lang="en" data-ng-app="gpApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <title data-ng-bind="title"></title>

    <!-- Style à la CDN -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,700,400italic" rel="stylesheet" />
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css" rel="stylesheet" />

    <!-- Style à la Compiled Scss -->
    <link href="./styles/build/main.css" rel="stylesheet" />
    <link href="./styles/build/icons.css" rel="stylesheet" />
    <link href="./styles/build/iframe.css" rel="stylesheet" />
    <link href="./styles/build/toolbar.css" rel="stylesheet" />
    <link href="./styles/build/sidenav.css" rel="stylesheet" />
    <link href="./styles/build/components.css" rel="stylesheet" />
</head>

<body layout="column" data-ng-controller="View as vm">
    <header data-ng-include="'./app/layout/toolbar.html'"></header>

    <main layout="row" layout-wrap>

        <section flex hide-md 
            data-ng-include="'./app/layout/col.html'">
        </section>

        <section flex="60" flex-md="75" flex-sm="100" 
            data-ng-include="'./app/layout/main.html'">
        </section>
        
        <md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" flex="25">

            <md-toolbar>
                <div class="md-toolbar-tools" data-ng-click="vm.toggleSidenav('right');">

                    <md-button class="md-icon-button" hide-gt-sm data-ng-click="vm.close();" aria-label="Hide">
                        <md-icon md-svg-icon="arrow-right"></md-icon>
                    </md-button>

                    <span flex></span>

                    <h3>Schedule</h3>
                    
                </div>
            </md-toolbar>

            <md-content id="playlist" class="md-padding" 
                data-ng-include="'./app/playlist/schedule.html'">
            </md-content>

            <md-toolbar></md-toolbar>

            <md-content class="md-padding">
            </md-content>

        </md-sidenav>


    </main>

    <script src="//code.angularjs.org/1.4.0-rc.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-animate.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-aria.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.js"></script>

    <script src="./app/app.module.js"></script>

    <!-- Core Module -->
    <script src="./app/core/core.module.js"></script>
    <script src="./app/core/core.config.js"></script>
    <script src="./app/core/dataservice.js"></script>

    <!-- Layout Module -->
    <script src="./app/layout/layout.module.js"></script>
    <script src="./app/layout/view.js"></script>

    <!-- Playlist Module -->
    <script src="./app/playlist/playlist.module.js"></script>
    <script src="./app/playlist/schedule.ctrl.js"></script>

    <!-- Content Module -->
    <script src="./app/content/content.module.js"></script>
    <script src="./app/content/tabs.ctrl.js"></script>

</body>

</html>