<!DOCTYPE html>
<html lang="en" data-ng-app="gpApp" data-ng-controller="View as vm">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <title data-ng-bind-template="{{vm.title}} · poppyGP Player">poppyGP Player</title>

    <!-- Style à la CDN -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,700,400italic" rel="stylesheet" />
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css" rel="stylesheet" />

    <!-- Style à la Compiled Scss -->
    <link href="./styles/build/page.css"        rel="stylesheet" />
    <link href="./styles/build/icons.css"       rel="stylesheet" />
    <link href="./styles/build/iframe.css"      rel="stylesheet" />
    <link href="./styles/build/toolbar.css"     rel="stylesheet" />
    <link href="./styles/build/sidenav.css"     rel="stylesheet" />
    <link href="./styles/build/components.css"  rel="stylesheet" />
    <link href="./styles/build/content.css"     rel="stylesheet" />
    <link href="./styles/build/buttons.css"     rel="stylesheet" />
</head>

<body layout="column">

    <header layout="row" data-ng-controller="Toolbar as vm" data-ng-include="'./app/layout/toolbar.html'">
    </header>

    <main layout="row">

        <section flex hide-sm data-ng-include="'./app/layout/col.html'"></section>

        <section flex="60" flex-sm="100" data-ng-controller="Video as vm">
            <md-content>
                <div class="responsive-container">
                    <div class="responsive-item embed-16by9" data-ng-include="'./assets/partials/iframe/video.html'">
                    </div>
                </div>
                <md-toolbar class="video-toolbar" style="position:absolute; top:0; left:0; right:0; background-color:transparent; border:0 none transparent; box-shadow:none;">
                    <div class="md-toolbar-tools">
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Donate" data-ng-click="vm.openDonate($event)">
                            <md-icon md-svg-src="./assets/icons/paypal.svg"></i>
                        </md-button>
                    </div>
                </md-toolbar>
            </md-content>
        </section>

        <section flex="33" hide-sm data-ng-controller="Tabs as vm">
            <md-toolbar></md-toolbar>
            <md-content data-ng-include="'./app/content/tabs.html'"></md-content>
        </section>
<!--
        <section flex="30" hide-sm data-ng-controller="Playlist as vm" data-ng-include="'./app/playlist/playlist.html'"></section>
-->
        <section flex hide-sm data-ng-include="'./app/layout/col.html'"></section>

        <md-sidenav class="md-sidenav-right" md-component-id="right">
            <md-toolbar>
                <div class="md-toolbar-tools" data-ng-click="vm.closeSidenav()">
                    <md-button class="md-icon-button" hide-gt-sm data-ng-click="vm.closeSidenav()" aria-label="Hide Schedule">
                        <md-icon md-svg-icon="arrow-right"></md-icon>
                    </md-button>
                    <span flex></span>
                    <h3>Schedule<small hide-md> (user time)</small></h3>
                </div>
            </md-toolbar>
            <md-content id="playlist" class="md-whiteframe-z2 md-padding" data-ng-include="'./app/playlist/schedule.html'">
            </md-content>
        </md-sidenav>

    </main>

    <!-- AngularJS Core -->
    <script src="//code.angularjs.org/1.4.0-rc.0/angular.min.js"></script>

    <!-- Angular Component -->
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-sanitize.min.js"></script>

    <!-- Angular-Material -->
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-animate.min.js"></script>
    <script src="//code.angularjs.org/1.4.0-rc.0/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.js"></script>

    <!-- Moment.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.3.1/moment-timezone.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.0/angular-moment.min.js"></script>
    <script src="//rawgit.com/qw4n7y/7282780/raw/6ae3b334b295f93047e8f3ad300db6bc4387e235/moment-timezone-data.js"></script>

    <!-- Main App Module -->
    <script src="./app/app.module.js"></script>

    <!-- Core Module -->
    <script src="./app/core/core.module.js"></script>
    <script src="./app/core/core.config.js"></script>
    <!--
    <script src="./app/core/core.routes.js"></script>
    -->
    <script src="./app/core/dataservice.js"></script>

    <!-- Layout Module -->
    <script src="./app/layout/layout.module.js"></script>
    <script src="./app/layout/view.js"></script>
    <script src="./app/layout/toolbar.js"></script>
    <script src="./app/layout/video.js"></script>
    <script src="./app/layout/donate.js"></script>

    <!-- Playlist Module -->
    <script src="./app/playlist/playlist.module.js"></script>
    <script src="./app/playlist/schedule.js"></script>
    <script src="./app/playlist/playlist.js"></script>

    <!-- Content Module -->
    <script src="./app/content/content.module.js"></script>
    <script src="./app/content/tabs.js"></script>

</body>
</html>