<md-content>
    <div class="responsive-container">
        <div class="responsive-item embed-16by9" data-ng-include="'./assets/partials/iframe/video.html'">
        </div>
    </div>
    <md-toolbar class="video-toolbar" style="position:absolute; top:0; left:0; right:0; background-color:transparent; border:0 none transparent; box-shadow:none;">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Donate" data-ng-click="vm.openDonate($event)">
                <md-icon md-svg-src="./assets/icons/paypal.svg"></i>
            </md-button>
        </div>
    </md-toolbar>
<!--
    <md-toolbar class="video-toolbar" style="position:absolute; top:0; left:0; right:0; background-color:transparent; border:0 none transparent; box-shadow:none;">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Webchat">
                <md-icon md-svg-src="./assets/md-icons/navigation/ic_fullscreen_48px.svg"></md-icon>
                <md-icon md-svg-src="./assets/md-icons/navigation/ic_fullscreen_exit_48px.svg"></md-icon>
            </md-button>
            <md-button hide-sm class="md-icon-button" data-ng-click="vm.openMenu()" aria-label="More">
                <md-icon md-svg-src="./assets/md-icons/navigation/ic_more_vert_48px.svg"></md-icon>
                <md-select data-ng-model="vm.menuModel">
                    <md-select-label>
                    </md-select-label>
                    <md-option data-ng-value="option.val" data-ng-repeat="option in vm.menuOptions">{{ option.title }}</md-option>
                </md-select>
            </md-button>
        </div>
    </md-toolbar>
-->
</md-content>
<md-content>
    <div data-ng-include="'./app/content/tabs.html'" 
         data-ng-controller="Tabs as vm">
    </div>
</md-content>