<div layout="row" layout-sm="column" layout-align="center start" layout-align-sm="start center" layout-wrap tabIndex="-1" flex>
  <!-- BEGIN: Webchat Card Section -->
  <section layout="column" flex="40">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" data-ng-click="vm.toggleSidenav()">
          <md-icon class="fa fa-bars"></md-icon>
        </md-button>
        <span><h3>poppyGP</h3></span>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-content flex layout-fill layout-align="center start" style="background-color:transparent; overflow:hidden;">
      <md-card flex class="card-embed md-whiteframe-z5">
        <md-card-embed class="embed-4by3">
          <iframe src="https://kiwiirc.com/client/irc.snoonet.org/?nick=poppygp|?&theme=mini#f1" width="100%" height="100%" style="left:1px; background-color:#000;">
          </iframe>
        </md-card-embed>
      </md-card>
    </md-content>
  </section>
  <!-- ENDOF: Webchat Card Section -->

  <!-- BEGIN: Video Card Section -->
  <section layout="column" flex="60">
    <md-content layout-fill>
      <md-card class="card-embed md-whiteframe-z2">
        <md-card-embed class="embed-16by9">
        <!--
          <md-toolbar style="background-color:transparent; position:absolute; top:0; right:0; width:100%; z-index:255;">
            <div class="md-toolbar-tools">
              <span flex></span>
              <md-button class="md-icon-button" aria-label="Cinema Mode">
                <md-icon class="fa fa-film"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
          -->
          <iframe src="http://www.ustream.tv/embed/18630657?wmode=direct&showtitle=false" webkitallowfullscreen allowfullscreen width="100%" height="100%"></iframe>
        </md-card-embed>
      </md-card>
    </md-content>
  </section>
  <!-- ENDOF: Video Card Section -->

  <!-- BEGIN: Left Content Section -->
  <section layout="column" flex="40">
    <md-content layout-fill flex class="md-whiteframe-z2 md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Playlist</h2>
        </div>
      </md-toolbar>


    </md-content>
  </section>
  <!-- ENDOF: Left Content Section -->

  <!-- BEGIN: Right Column Section -->
  <section layout="column" flex="60">
    <md-content layout-fill flex class="md-whiteframe-z2 md-padding">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Donations</h2>
        </div>
      </md-toolbar>
      <md-content class="md-padding">
        <p>Donations are very much appreciated to keep the server running (not to mention the surprising amount of time and effort it takes to maintain and update all of this).  Thank you all!  :)</p>
      </md-content>
    </md-content>
  </section>
  <!-- ENDOF: Right Content Section -->

</div>


    <!-- BEGIN: Toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Bookmark">
          <md-icon class="fa fa-bookmark"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="GitHub">
          <md-icon class="fa fa-github"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Twitter">
          <md-icon class="fa fa-twitter"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Reddit">
          <md-icon class="fa fa-reddit"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- ENDOF: Toolbar -->
