<md-toolbar>
    <div class="md-toolbar-tools">

        <span flex hide-sm hide-md></span>

        <span>
            <!-- Mercedes -->
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
            </svg>
            <!-- Ferrari -->
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
            </svg>
            <!-- Williams -->
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
            </svg>
        </span>

        <span flex hide-gt-sm></span>
        
        <h2>poppyGP</h2>

        <md-button class="md-icon-button" hide-gt-sm data-ng-click="vm.toggleSidenav('right');" aria-label="Menu">
            <md-icon md-svg-icon="navbar"></md-icon>
        </md-button>

        <span flex hide-sm></span>
        <span flex hide-sm></span>

    </div>
</md-toolbar>


<!--
<span hide-sm> -->
    <!-- Mercedes 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
    </svg>-->
    <!-- Ferrari 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
    </svg>-->
    <!-- Williams 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
    </svg>-->
    <!-- Sauber
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#0063ff"/>
    </svg> -->
    <!-- STR
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#0005c1"/>
    </svg> -->
    <!-- RBR
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#4f1aab;"/>
    </svg> -->
    <!-- Force India 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#ff5f0f;"/>
    </svg> -->
    <!-- McLaren 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#808080;"/>
    </svg> -->
    <!-- Lotus 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffb800"/>
    </svg> -->
    <!-- Marussia 
    <svg height="32" width="30">
      <polygon points="30,0 10,32 0,32 20,0" style="fill:#6e0000"/>
    </svg> 
</span> -->