
<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex hide-gt-sm></span>
        <span>
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
            </svg>
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
            </svg>
            <svg height="32" width="30">
              <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
            </svg>
        </span>
        <h2>poppyGP</h2>
        <md-button class="md-icon-button" hide-gt-sm data-ng-click="vm.openSidenav()" aria-label="Show Schedule">
            <md-icon md-svg-icon="navbar"></md-icon>
        </md-button>
        <span flex hide-sm></span>
        <md-button hide-sm class="md-icon-button" data-ng-click="vm.openMenu()" aria-label="More">
            <md-icon md-svg-icon="more-v"></md-icon>
            <md-select data-ng-model="vm.menuModel">
                <md-select-label>
                </md-select-label>
                <md-option data-ng-value="option.val" data-ng-repeat="option in vm.menuOptions">{{ option.title }}</md-option>
            </md-select>
        </md-button>
    </div>
</md-toolbar>

<md-button class="md-fab md-fab-bottom-right" hide-gt-sm aria-label="Menu">
    <md-icon md-svg-icon="more-h"></md-icon>
</md-button>
