footer {
  md-toolbar.md-small {
    @include palette-primary();  
    .md-toolbar-tools {
      @include palette-primary();  
      .md-button {
        &.md-icon-button {
          margin-left: 0px;
          >md-icon {
            height: 1.25em;
            width: 1.25em;
            line-height: 1em;
            display: inline-block;

            &.fa {
              font-family: FontAwesome;
              font-size: 1.25em;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              transform: translate(0, 0);

              &.fa-paypal {
                font-size: 1.50em;
                line-height: 1.33em;
              }
            }
          }
        }
      }
    }
  }
/*
  .md-icon-button {
    .fa {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 1.33333333em;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      vertical-align: -7.5%;
      display: inline-block;
      word-wrap: normal;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
    .ion {
      vertical-align: text-bottom;
    }
  }
*/
}