
<md-toolbar class="md-small">
  <div class="md-toolbar-tools">
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Donate via PayPal">
      <md-icon class="fa fa-fw fa-paypal"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Donate via BTC">
      <md-icon class="ion ion-social-bitcoin"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="View on GitHub">
      <md-icon class="ion ion-social-github"></md-icon>
    </md-button>
  </div>
</md-toolbar>