// Layout
// ------------------------------


.white-on-blue {
  background-color: #002857;
}

.blue-on-white {
  color: #002f5f;
}

.cinema {
  iframe {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
  }
}