md-sidenav.md-locked-open[flex-gt-sm="20"],
md-sidenav.md-locked-open[flex-gt-md="20"],
md-sidenav.md-locked-open[flex-gt-lg="20"] {
    flex: 0 0 20%;
    width:    20%;
    min-width:20%;
    max-width:20%;
}

md-sidenav.md-locked-open[flex-gt-sm="15"],
md-sidenav.md-locked-open[flex-gt-md="15"],
md-sidenav.md-locked-open[flex-gt-lg="15"] {
    flex: 0 0 15%;
    width:    15%;
    min-width:15%;
    max-width:15%;
}

md-sidenav.md-locked-open[flex-gt-sm="10"],
md-sidenav.md-locked-open[flex-gt-md="10"],
md-sidenav.md-locked-open[flex-gt-lg="10"]
 {
    flex: 0 0 10%;
    width:    10%;
    min-width:10%;
    max-width:10%;
}