

  <md-toolbar md-scroll-shrink ng-controller="NavbarCtrl">

    <div class="md-toolbar-tools">

    <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

    <section>
      <md-button href="#" class="md-raised">Home</md-button>
      <md-button href="#" class="md-raised">About</md-button>
      <md-button href="#" class="md-raised">Contact</md-button>
    </section>

    <md-button href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button>

    </div>

  </md-toolbar>

