
<md-toolbar class="md-medium">
  <div class="md-toolbar-tools">
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Webchat">
      <md-icon class="fa fa-fw webchat">&#xf0c0;</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Twitter">
      <md-icon class="fa fa-fw twitter">&#xf099;</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Reddit">
      <md-icon class="fa fa-fw reddit">&#xf1a1;</md-icon>
    </md-button>
  </div>
</md-toolbar>