/*
  @media(max-width: 959px) {
    overflow-y: scroll;
  }
  @media(min-width: 960px) {
    overflow-y: hidden;
  }
*/
  .main {
    overflow-x: hidden;
    overflow-y: hidden;
    .site-sidenav {
      @include absolute-width(15%);
    }
    .leftcol {

    }
    .sidebar {

    }
    .schedule {
      overflow-y: hidden;
      overflow-x: auto;
    }
  }
