<div layout="column" flex>
  <md-toolbar>
  </md-toolbar>
</div>

<main layout="column" flex="50">
  <iframe class="site-player" src="http://www.ustream.tv/embed/20560397?wmode=direct&amp;showtitle=false" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""></iframe>
</main>

<div layout="column" flex>
  <md-toolbar>
  </md-toolbar>
</div>

<section layout="column" flex="15">

</section>

<div layout="column" flex>
  <md-toolbar>
  </md-toolbar>
</div>

<nav layout="column"
     ng-include="'app/components/sidebar/sidebar.html'">
</nav>