

  .video-frame {
    overflow: hidden;

    .video {
      border: 0.5px #333 solid;
      position: relative;
      
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
