  <md-card class="video-card md-whiteframe-z5"
           layout="column">
    <div class="md-card-video">
      <iframe class="video md-card-image"
              src="http://www.ustream.tv/embed/20560398?wmode=direct&showtitle=false" 
              flex layout-fill
              frameborder="0" 
              allowfullscreen 
              mozallowfullscreen 
              webkitAllowFullScreen>
      </iframe>
    </div>
    <md-card-content>
      <md-list-item class="md-3-line">
        <img src="placehold.it/40/ccc.png" class="md-avatar">
        <div class="md-list-item-text">
          <h3>Title</h3>
          <h4>Subhead</h4>
          <p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.</p>
        </div>
      </md-list-item>
    </md-card-content>
    <!--
    <md-card-content layout="column">
      <h2>Card headline</h2>
      <p>Card content</p>
      
    </md-card-content>
    -->
    <div class="md-actions" layout="row">
      <md-button>Previous</md-button>
      <span flex></span>
      <md-button>Next</md-button>
    </div>
  </md-card>
  <!--
<md-content class="video-frame" 
            flex layout="row">

  <iframe class="video" 
          flex
          src="http://www.ustream.tv/embed/20560398?wmode=direct&showtitle=false" 
          frameborder="0" 
          allowfullscreen 
          mozallowfullscreen 
          webkitAllowFullScreen>
  </iframe>

</md-content>
-->