

<md-toolbar class="md-medium">

  <div class="md-toolbar-tools">

    <md-button class="md-icon-button"
               ng-click="vmm.toggleLeft()" 
               aria-label="Show Schedule">
      <md-icon class="material-icons">&#xE5C4;</md-icon>
      <!-- <&#xE5D2;> -->
    </md-button>

    <h3>{{ vmm.datetime }}</h3>

    <span flex></span>

    <span class="brand stripes">
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
      </svg>
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
      </svg>
      <svg height="32" width="30">
        <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
      </svg>
    </span>

    <h1 class="site-name">poppyGP</h1>

    <md-button class="md-icon-button">
      <md-icon class="material-icons">&#xE5D2;</md-icon>
    </md-button>
    
  </div>

</md-toolbar>

