<header class="gp-toolbar">

  <md-toolbar class="md-medium">

    <div class="md-toolbar-tools">

      <span flex></span>

      <!--
      <md-button class="md-icon-button"
                 ng-click="vm.openSidenav()" 
                 aria-label="Show Schedule"
                 hide-gt-sm>
        <md-icon md-svg-icon="navbar"></md-icon>
      </md-button>
      -->

      <span class="brand stripes">
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
        </svg>
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
        </svg>
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
        </svg>
      </span>

      <h1 class="site-name">poppyGP</h1>

      <md-button class="md-icon-button">
        <md-icon md-svg-icon="arrow-right" class="material-icons"></md-icon>
      </md-button>
      
    </div>

  </md-toolbar>

</header>