
  md-list {
    md-list-item {
      md-icon.flag-icon,
      img.flag-icon,
      .flag-icon {
        margin: 8px 8px 6px 0;
        border: 1px solid #e3e3e3;
        border-radius: 50%;

      }
    }
  }
