<!-- 
    Tab 3
    Help
-->

<md-content class="md-padding md-whiteframe-z1">

    <h1 class="md-display-2">Help</h1>

    <p>An Adblock extension or plugin for your browser is highly recommended.  While I personally will not include any sort of advertising that are commonly found on stream sites, the streaming service may choose to do so.</p>

    <p>Mobile and/or tablet users may be required to install the appropriate application in order to view the stream.  Sorry, there's not much I can do at the moment about that :/</p>

    <p>This site should render properly regardless of your device, browser, or operating system.  There are still a few things I need to iron out though, and a bug/issue reporting system will be implemented.</p>

    <md-divider></md-divider>

    <h2 class="md-display-2">Frequently Asked Questions</h2>

    <h3>Why is the commentary in German/French/Japanese/Italian?</h3>
    <p>Depending on the era, the network coverage of the video in session may not be complete.  For instance, ITV coverage in the 1990s was interrupted by advertisements/commercials.  For older races, the footage may simply be unwatchable due to the medium on which the video was stored, e.g. deterioration of VHS tapes.</p>
    <p>Whatever the reason may be, the person responsible for encoding the video in question may opt to "patch" these missing bits with quality coverage from other networks.</p>
    <p>I do my best to select video files that meet a number of minimum requirements regarding quality of video/audio, but I do mess up on occasion simply because of the sheer amount of time it takes to do so.</p>

    <h3>Where can I download these?</h3>
    <p>Unfortunately due to the terms under which I obtain the majority of these files, regrettably, I am prohibited from sharing any content or details with any outsiders.  
    <p>However, most races after the 1980s are available on the greater internet if you look hard enough!</p>

    <h3>Can I request a race/session?</h3>
    <p>Of course.  However, due to the fact that there is currently no official or standard line of communication, I cannot guarantee that your request will be fulfilled.</p>
    <p>A requests system is in the works.</p>

</md-content>