md-toolbar {

    .md-toolbar-tools,
    .md-toolbar-tools-bottom {

        &.fab-tools {
            -webkit-flex-flow: column;
            flex-flow: column;
        }

        svg {
            display: inline-block;
        }
    }
}
/*
.md-sidenav-right.md-closed,
.md-sidenav-left.md-closed {

    > md-content {

        > md-toolbar {
            >.md-toolbar-tools {

            }
        }
    }


}


md-toolbar {

    &.md-short {

    }
    &.md-medium-short {

    }
}
*/