<!DOCTYPE html>
<html lang="en" 
      ng-app="poppyGP" 
      ng-controller="View as vm">

<head>
  <!-- Meta Meta Title Meta
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <title ng-bind-template="{{vm.title}} · poppyGP Player">poppyGP Player</title>

  <!-- Favicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <!-- Fonts & Icon Libraries
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Vendor Stylesheets
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- Compiled Stylesheets
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  
  <!-- Modernizr
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- build:js(src) scripts/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body layout="column">
  <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-toolbar class="md-medium" ng-controller="Toolbar as vmm">

    <div class="md-toolbar-tools">
      <span class="brand stripes">
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#2ab4a5;"/>
        </svg>
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#c30000"/>
        </svg>
        <svg height="32" width="30">
          <polygon points="30,0 10,32 0,32 20,0" style="fill:#ffffff; stroke:#999999; stroke-width:1;"/>
        </svg>
      </span>
      <h2>poppyGP</h2>
      <span flex></span>
      <!--
      <md-button class="md-icon-button"
                 ng-click="vm.openSidenav()" 
                 aria-label="Show Schedule"
                 hide-gt-sm>
        <md-icon md-svg-icon="navbar"></md-icon>
      </md-button>
      -->
    </div>

  </md-toolbar>


  <main flex layout="column">

    <md-content class="main" layout="row" flex>
    
      <div flex="5" hide-md hide-sm layout="column">
        <md-toolbar class="md-small">
          <div class="md-toolbar-tools">
          </div>
        </md-toolbar>
        <md-content flex>
        </md-content>
      </div>
      <!--
      <section class="video-section" 
               flex-sm="100" flex-md="80" flex-lg="75" flex-gt-lg="70">
        <div class="video-wrapper">
          <iframe class="video md-whiteframe-z4"
                  ng-controller="Video as vm"
                  src="http://www.ustream.tv/embed/20560398?wmode=direct&showtitle=false" 
                  frameborder="0" 
                  allowfullscreen mozallowfullscreen webkitAllowFullScreen>
          </iframe>
        </div>
      </section>
      -->
     
      <iframe class="video md-whiteframe-z4"
              flex-sm="100" flex-md="60" flex-gt-md="65"
              ng-controller="Video as vm"
              src="http://www.ustream.tv/embed/20560398?wmode=direct&showtitle=false" 
              frameborder="0" 
              allowfullscreen mozallowfullscreen webkitAllowFullScreen>
      </iframe>        
      

      <md-content class="sidebar"
                  flex-sm="100" flex
                  layout="column">
        <md-toolbar class="md-medium">
          <div class="md-toolbar-tools" 
               ng-click="vm.closeSidenav()">
            <h3>Schedule<small hide-md> (user time)</small></h3>
            <span flex></span>
          </div>
        </md-toolbar>

        <md-content class="md-whiteframe-z2 md-padding" flex
                    ng-include="'./app/components/playlist/schedule.html'">
        </md-content>

      </md-content>
    </md-content>

    <md-content class="grid" layout="row" flex>

    </md-content>

  </main>

  <footer>
    <md-toolbar class="md-medium">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Webchat">
          <md-icon class="fa fa-fw webchat">&#xf0c0;</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Twitter">
          <md-icon class="fa fa-fw twitter">&#xf099;</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Reddit">
          <md-icon class="fa fa-fw reddit">&#xf1a1;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </footer>


  <!-- Vendor Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- Application Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- Angular Partials
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>