html,
body {
  overflow: hidden;
  min-height: 100%;
  * {
    overflow: hidden;
  }
}


// Main Sidenav
// ------------------------------

md-content.main {

  md-sidenav.site-sidenav.md-sidenav-left {

    >md-toolbar {

      @include palette-primary();  

      .md-toolbar-tools {
        @extend md-toolbar;
      }
    }

    @include absolute-width(15%);

    @media (max-width: 600px) {
      @include absolute-width(75%);
    }

  }
}


// Small/Medium md-toolbar
// ------------------------------

md-toolbar {
  &.md-small {
    @include absolute-height(36px);
    .md-toolbar-tools {
      @include absolute-height(36px);
    }
  }
  &.md-medium {
    @include absolute-height(48px);
    .md-toolbar-tools {
      @include absolute-height(48px);
    }
  }
}

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}