html,
body {
  overflow: hidden;
  min-height: 100%;
}

.container {
  overflow-x: hidden;
  @media(max-width: 959px) {
    overflow-y: scroll;
  }
  @media(min-width: 960px) {
    overflow-y: hidden;
  }
  
  .main {
    overflow-x: hidden;
    overflow-y: hidden;
    .leftcol {

    }
    .video {
      border: 0.5px #333 solid;
    }
    .sidebar {

    }
    .schedule {
      overflow-y: hidden;
      overflow-x: auto;
    }
  }
}
.section {
  overflow: hidden;
}
/*
.video-container {
  .video-wrapper {
    padding-bottom: 56.34%;
    margin-bottom: -13.83%;
    height: 0;
    position: relative;
    overflow: hidden;
    iframe,
    embed,
    object {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}
*/


md-toolbar {
  &.md-small {
    @include absolute-height(36px);
    .md-toolbar-tools {
      @include absolute-height(36px);
    }
  }
  &.md-medium {
    @include absolute-height(48px);
    .md-toolbar-tools {
      @include absolute-height(48px);
    }
  }
}