/*
.video-container {
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  //padding-bottom: 67.5%;
  padding-bottom: 56.34%
  //padding-top: 1.5625rem;
  padding-top: 0;
  position: relative;
  iframe,
  object,
  embed,
  video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
*/