md-icon.fa {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.33333333em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: -7.5%;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  &.twitter {
    font-size: 1.66em;
  }
  &.webchat {
    font-size: 1.25em;
  }
}