$font-family:     'Source Sans Pro', Verdana, sans-serif;


// Dark text on light backgrounds
// ------------------------------

$dark-primary:    rgba( 0,  0,  0, 0.87);
$dark-secondary:  rgba( 0,  0,  0, 0.54);
$dark-disabled:   rgba( 0,  0,  0, 0.26);
$dark-dividers:   rgba( 0,  0,  0, 0.12);


// White text on dark backgrounds
// ------------------------------

$white-primary:   rgba(255, 255, 255, 1.00);
$white-secondary: rgba(255, 255, 255, 0.70);
$white-disabled:  rgba(255, 255, 255, 0.30);
$white-dividers:  rgba(255, 255, 255, 0.12);





// Dark text on light backgrounds
// ------------------------------


// White text on dark backgrounds
// ------------------------------